<div class="container">
  <img src="\images\cinema.jpg" alt="cinema">
  <div class="title_div">
    <h1 class="title">CINEMA
      <br> IronHack</h1>
    <a href="/movies"><button class="button">Check the movies!</button></a>
  </div>
</div>